*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    font-family: "Raleway", sans-serif;
    background-color: #070D1F;
}

/*Header*/
.bg-transparent{
    background-color: transparent !important;
}

h2{
    color: white;
    font-size: 30px;
}

.carousel-inner img{
    height: 80vh;
    object-fit: cover;
    object-position: top;
}

/*Quiénes Somos*/

.somos{
    color: white;
    padding: 60px 0px;
}

.bg-cyan{
    background-color: #00B4DB;
    padding: 5px 0px;
}

/*Destacados*/

.card-body{
    background-color: #00B4DB;
    color: white;
}

/*Formulario*/

.custom-tooltip {
    --bs-tooltip-bg: #00B4DB;
    --bs-tooltip-color: var(--bs-white);
  }


/*Footer*/

.bg-footer{
    background-color: #00B4DB;
}

h3{
    font-size: 18px;
}
